
.icon-search:before { content: '\e800'; } /* '' */
.icon-search-1:before { content: '\e801'; } /* '' */
.icon-upload:before { content: '\e802'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */