.cuadrom{
  margin: 5px;
  margin-left: 205px;
  width: auto;
  height: 900px;
  background: #F7F9F9;
}

.sv{
	margin: 5px;
	width: 34%;	
	height: 260px;
  background:#F7F9F9;
  border: 2px solid #79A39C;
  float: left;
}

.diagnostico{
	width: 46%;
  height: 260px;
  margin: 5px;
  float: left;
  background:#F7F9F9;
  border: 2px solid #79A39C;
}

.nm{
  width: 81%;
  height: 180px;
  margin: 5px;
  background:#F7F9F9;
  border: 2px solid #79A39C;
  clear: left;
}

.sv input[type=text] {
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border: 2px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    float:center; 
    font-size: 14px;
    height: 10px;
    width: 60px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 15px;

}

.sv label{  
  display: inline-block;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  margin-left: 25px;
  padding: 5px;
  text-align: left;
  vertical-align: bottom;
  width: 12em;


}

textarea{

	 border: 3px solid #DFDAD7;
	 margin-left: 20px;
	 font-size: 14px;
}

.cuadrom h2{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-left: 12px;
  padding: 5px;
}


.diagnostico input[type=text]{
  margin-left: 10px;
  width: 500px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.botonn {
    background-color: #EB7F00;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 25px;
}